@font-face {
  font-family: 'trava';
  src:  url('fonts/trava.eot?b9hkvi');
  src:  url('fonts/trava.eot?b9hkvi#iefix') format('embedded-opentype'),
    url('fonts/trava.ttf?b9hkvi') format('truetype'),
    url('fonts/trava.woff?b9hkvi') format('woff'),
    url('fonts/trava.svg?b9hkvi#trava') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.trava-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'trava' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.trava-icon--Frame-1:before {
  content: "\e900";
}
.trava-icon--Frame-2 .path1:before {
  content: "\e901";
  color: rgb(195, 245, 60);
}
.trava-icon--Frame-2 .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(16, 24, 40);
}
.trava-icon--Frame:before {
  content: "\e903";
}
.trava-icon--Vector:before {
  content: "\e904";
}
